@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.nav-bar{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: black;
    margin: auto;
    height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.nav-list{
    margin-right: 50px;
}
.nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
}
.nav-list ul li{
    list-style: none;
    display: inline-block;
    margin: 0 0 0 20px;
    position: relative;
}
.nav-list ul li a{
    letter-spacing: .2rem;
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-right: 2px;
    transition: .15s ease;
}
.nav-list ul li a:hover{
    color: crimson;
}
.container{
    display: flex;
    position: relative;
    height: 100%;
}
.left-sidebar{
    background-color: black;
    width: 28.33%;
}
.image-div{
    position: sticky;
    margin-top: 170px;
}
.image-div img{
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.personal-info{
    border: 3px solid red;
    border-radius: 20%;
    width: 220px;
    height: 220px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.personal-info h2{
    letter-spacing: .2rem;
    color: white;
    margin-left: 50px;
}
.personal-info p{
    color: crimson;
    margin: 12px 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .2rem;
}

.edit-button{
    margin-top: 10px;
    margin-left: 90px;
}
.cta{
    margin: 10% 15%;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .8rem;
    margin-top: 10px;
    border-radius: 50px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}
.main-page{
    background-color: black;
    width: 48.33%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.right-sidebar{
    background-color: black;
    width: 23.33%;
}
.my-stats{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 240px;
    margin-top: 200px;
    padding: 15px;
    border: 2px solid white;
}
.my-stats h1{
    margin-left: 58px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
    font-weight: 400;
}
.my-stats ul{
    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 66px;
    margin-top: 50px;
}
.my-stats ul li{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: .2rem;
    font-weight: 400;
    color: white;
}
.post{
    position: relative;
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 180px;
    border-radius: 15px;
}
.post-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 25%;
    background-color: rgb(218, 206, 206);
    display: flex;
    position: relative;
    align-items: center;

}
.post-top img{
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.post-top h3{
    margin-left: 10px;
}
.post-top p{
    margin-left: 360px;
}
.post-bottom{
    height: 55%;
    width: 100%;
    background-color: black;
}
.post-options{
    height: 20%;
    width: 100%;
    background-color: rgb(218, 206, 206);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
}
.post-bottom p{
    font-size: 1.5rem;
    padding: 20px;
    color: white;
}