@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.post-section{
    background-color: white;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;

}
.post-section img{
    height: 140px;
    width: 70%;
    margin-left: 72px;
}
.post-section h2{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
    width: 50%;
    margin-left: 120px;
}
.cta{
    float: right;
    margin-left: 123.9185px;
    margin-right: 123.9185px;
    margin-top: 44px;
    text-decoration: none;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .8rem;
    border-radius: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}